n8n_whatsapp_workflow.json
{
  "name": "WhatsApp Atendimento AI",
  "nodes": [
    {
      "parameters": {
        "path": "whatsapp",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "id": "Webhook_Whatsapp",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const data = items[0].json;\nconst user = data.from;\nconst staticData = this.getWorkflowStaticData('global');\nstaticData[user] = staticData[user] || [];\nstaticData[user].push({ role: 'user', content: data.body });\nitems[0].json.history = staticData[user].slice(-20);\nreturn items;"
      },
      "id": "Memory",
      "name": "Memory",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        250,
        0
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "chatModel": "gpt-3.5-turbo",
        "prompt": {
          "messages": "={{ [ { role: 'system', content: 'Você é um assistente no WhatsApp. Use informações anteriores para responder com simpatia e objetividade.' }, ...$json.history ] }}"
        }
      },
      "id": "OpenAI",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        500,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const data = items[0].json; const user = data.from; const staticData = this.getWorkflowStaticData('global'); staticData[user] = staticData[user] || []; staticData[user].push({ role: 'assistant', content: data.data.choices[0].message.content }); return items;"
      },
      "id": "Store Response",
      "name": "Store Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        650,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body }}",
              "value2": "agendar"
            }
          ]
        }
      },
      "id": "Check Agendamento",
      "name": "Check Agendamento",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        750,
        0
      ]
    },
    {
      "parameters": {
        "operation": "quickAddEvent",
        "calendar": "primary",
        "text": "={{ $json.body }}"
      },
      "id": "Google Calendar",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1000,
        -100
      ]
    },
    {
      "parameters": {
        "url": "http://waha:3000/api/sendText",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n \"session\": \"default\",\n \"chatId\": \"={{ $json.from }}\",\n \"text\": \"={{ $json.data.choices[0].message.content }}\"\n}"
      },
      "id": "Send WhatsApp",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1000,
        100
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Store Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Response": {
      "main": [
        [
          {
            "node": "Check Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Agendamento": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}